@font-face {
    font-family: mn;
    src: url(coolvetica/coolvetica\ rg.otf);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: mn;
    background-color: #98735e;
    color: #333;
}

.logo{
    color: white;
    font-size: 20px;
}

nav{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    padding: 0;
    margin: 0;
}

header {
    background-color: #2a2a2a;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
}

.icons input {
    padding: 5px;
    width: 400px;
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
}

.icons img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .icons {
        flex-direction: column;
    }
    .icons input {
        width: 150px;
    }
    .icons img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .icons {
        flex-direction: column;
    }
    .icons input {
        width: 100px;
    }
    .icons img {
        width: 15px;
        height: 15px;
    }
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 94%;
    transform: translate(-50%, -50%);
    flex-direction: row;
}

.login img{
    
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
}

.products{
    margin-left: 40px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #c7aa97;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

#shop-now {
    padding: 10px 20px;
    background-color: #98735e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#shop-now:hover {
    background-color: #2a2a2a;
}

.hero img {
    max-width: 50%;
    border-radius: 10px;
}

.gallery-container {
    position: relative;
    margin: 0 auto;
    max-width: 300px;
}
.gallery {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
img {
    scroll-snap-align: start;
    width: 100%;
    height: auto;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero img {
        max-width: 100%;
        margin-top: 20px;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

